:root{
  --ellipsisLine:2;
  --ellipsisFontSize:1rem;
  --ellipsisLineHeight:1.4;
  --ellipsisColor:rgba(0,0,0,.9);

  --ellipsisSymbolWidth:60px;
  --ellipsisSymbolWidthApple:2em;
}

@media(prefers-color-scheme:dark){
  :root{
    --ellipsisColor:rgba(255,255,255,.8);
  }
}

.weui-custom-ellipsis__wrp {
  position: relative;
  color:var(--ellipsisColor);
  font-size:var(--ellipsisFontSize);
  line-height: var(--ellipsisLineHeight);
  overflow:hidden;
  text-align:justify;
}
.weui-custom-ellipsis__text {
  display: -webkit-box;
  -webkit-line-clamp: var(--ellipsisLine);
  -webkit-box-orient: vertical;
  overflow:hidden;
  text-overflow:ellipsis;

  color:transparent;
  line-height: 0;
  font-size: var(--ellipsisSymbolWidth);
}
@supports (-apple-trailing-word:auto){
  .weui-custom-ellipsis__text {
    font-size:inherit;
    letter-spacing:var(--ellipsisSymbolWidthApple);
  }
}
@supports (-webkit-overflow-scrolling:touch){
  .weui-custom-ellipsis__text {
    font-size:inherit;
    letter-spacing:var(--ellipsisSymbolWidthApple);
  }
}
.weui-custom-ellipsis__text__extra ,
.weui-custom-ellipsis__text__inner {
  display:inline;
  vertical-align:top;
}
.weui-custom-ellipsis__text__inner {
  font-size:var(--ellipsisFontSize);
  line-height:var(--ellipsisLineHeight);
  color:var(--ellipsisColor);
  letter-spacing:normal;
}
.weui-custom-ellipsis {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  pointer-events:none;
}
.weui-custom-ellipsis__fake-text,
.weui-custom-ellipsis__placeholder,
.weui-custom-ellipsis__extra {
  float: left;
}
.weui-custom-ellipsis__fake-text {
  visibility: hidden;
  width: 50%;
}
.weui-custom-ellipsis__placeholder {
  width: 50%;
  &:before{
    display:block;
    content:"11";
    width:0;
    word-wrap:break-word;
  }
}
.weui-custom-ellipsis__extra {
  transform: translate(-100%, -100%);
}
.weui-custom-ellipsis__extra {
  text-align: right;
  pointer-events:auto;
  font-size:0;
}
.weui-custom-ellipsis__symbol{
  font-size:var(--ellipsisFontSize);
  margin-right:4px;
  &:last-child{
    margin-right:0;
  }
}

// 收起展开
.weui-custom-ellipsis__fold-btn{
  background: transparent;
  border: 0;
  padding: 0;
  outline: 0;
  font-size:var(--ellipsisFontSize);
  color:var(--weui-LINK);
}
.weui-custom-ellipsis_unfold{
  .weui-custom-ellipsis__text{
    display:block;
  }
  .weui-custom-ellipsis{
    display:none;
  }
}

