:root{
  --LINK:#576b95;
  --FG-1:rgba(0,0,0,.55);
}


// reset
*{
  margin:0;
  padding:0;
}
body{
  font-family: system-ui,-apple-system,Helvetica Neue,sans-serif;
  line-height:1.6;
}
a{
  color:var(--LINK);
}


// demo
.demo{
  max-width:500px;
  margin:40px 20px;

  .a,.b,.c{
    border:1px solid;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .weui-mask-ellipsis__wrp,
  .weui-custom-ellipsis__wrp,
  .weui-ellipsis{
    outline:1px solid;
  }
}
.demo_title{
  font-size:20px;
  font-weight:500;
  margin-bottom:8px;
}
.demo_desc{
  font-size:14px;
  margin-top:-4px;
  margin-bottom:8px;
  color:var(--FG-1);
}


.float{
  .b,.c{float:right;width:50px;}
  .b{height:100px;}
  .c{clear:right;height:50px;}
  .a{height:150px;}
}
.float_height{
  overflow:hidden;

  .a,.b,.c{float:left;}
  .a,.b{width:50%;}
  .b,.c{height:100px;}
  .c{width:100px;}
}
.ellipsis_demo{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.multi_ellipsis_demo{
}
.multi_ellipsis_demo_text_wrp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden;
  text-overflow:ellipsis;
}
.multi_ellipsis_demo_text{
  display:inline;
  vertical-align:top;
  line-height:1.4;
  font-size:1rem;
}
.multi_ellipsis_move{
  .multi_ellipsis_demo_text_wrp{
    font-size:100px;
    line-height:0;
  }
}
.multi_ellipsis_hide{
  max-height:2.8em;
  overflow:hidden;
}


@media(prefers-color-scheme:dark){
  :root{
    --LINK:#7d90a9;
    --FG-1:rgba(255,255,255,.55);
  }


  body{
    background:rgb(25,25,25);
  }
  .weui-mask-ellipsis__extra{
    background: linear-gradient(to right, rgba(25,25,25,0), rgba(25,25,25,1) 40%);
  }
}


