:root{
  --ellipsisLine:2;
  --ellipsisFontSize:1rem;
  --ellipsisColor:rgba(0,0,0,.9);
}

@media(prefers-color-scheme:dark){
  :root{
    --ellipsisColor:rgba(255,255,255,.8);
  }
}

.weui-mask-ellipsis__wrp{
  line-height:1.4;
  font-size:var(--ellipsisFontSize);
  color:var(--ellipsisColor);
  text-align:justify;
  overflow:hidden;//这个hidden是为了截断.weui-mask-ellipsis的200%宽度

  position:relative;
  max-height:calc(var(--ellipsisLine) * 1.4em);//默认最大行数为2行

  //让整个区域在达到最大高度前有真实的高度
  &>.weui-mask-ellipsis__text{
    width:100%;
    visibility:hidden;
  }
}
.weui-mask-ellipsis{
  position:absolute;
  top:0;
  left:0;
  width:200%;
}
.weui-mask-ellipsis__text,
.weui-mask-ellipsis__placeholder,
.weui-mask-ellipsis__extra{
  float:left;
}
.weui-mask-ellipsis__placeholder{
  width:50%;
  &:before{
    display:block;
    content:"12";
    width:0;
    word-wrap:break-word;
  }
}
.weui-mask-ellipsis__text{
  width:50%;
}
.weui-mask-ellipsis__extra{
  transform:translate(-100%,-100%);
}

// 渐变遮罩
.weui-mask-ellipsis__extra{
  min-width:5.6em;
  text-align:right;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 40%);
}

// 展开
.weui-mask-ellipsis_unfold{
  max-height:unset;
  .weui-mask-ellipsis__placeholder,
  .weui-mask-ellipsis__extra{
    display:none;
  }
}

